# shellcheck shell=bash
# https://direnv.net/man/direnv-stdlib.1.html
# EDITOR=vi direnv edit . && direnv allow # enable delta

dotenv

if on_git_branch; then
  echo && git status --short --branch
fi

echo -e "\ntype blog; type hugo_new; type hugo_check"
